*.lck
pulseview-NIGHTLY-x86_64-debug.AppImage
*#auto_saved_files#*
kicad/**/*autosave*
soft/emu-pc/build*
soft/arduino-tests/hall_sensor/SensorData.csv
soft/arduino-tests/nrf24_rx_tx/rx_tx_tested_WORKING/rx/build
soft/arduino-tests/nrf24_rx_tx/rx_tx_tested_WORKING/rx_stm/build
soft/arduino-tests/nrf24_rx_tx/rx_tx_tested_WORKING/rx_bluepill
soft/rx_stm_platformio/
soft/arduino-tests/test_copilot/second/GaspettoBox
**/compile_commands.json
soft/emu-pc/tests/build-tests
soft/emu-pc/tests/googletest
soft/pio/GaspettoBox_pio/.pio/
soft/pio/GaspettoBox_pio/.vscode/c_cpp_properties.json
soft/pio/arduino_straight_drive/tools/capture.csv
